*,
::before,
::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

body {
  font-size: 12px;
  background-color: var(--color-bg-1);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #90909033;
}
::-webkit-scrollbar-thumb:hover {
  background: #90909066;
}

body[arco-theme='dark'] {
  color: #fff;
}

// 按钮
.icon-btn {
  background-color: transparent !important;

  &:not(.arco-btn-disabled) {
    &:hover {
      background-color: var(--color-secondary-hover) !important;
    }
    &:active {
      background-color: var(--color-secondary-active) !important;
    }
  }
}
