*,
::before,
::after {
  // box-sizing: border-box;
  // border: none;
  // border-style: solid;
  // border-width: 0;
  // outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-bg-2);
  user-select: none;
}
